    * {
      box-sizing: border-box;
      padding: 0;
      margin:0;
    }
      
    html {
      height: 100%;
     
    }
    
    .header {
      background: url("blue_wood.jpg");
      width: 100%;
      margin-bottom:45px;
      overflow: auto;
    }
    
    
    .wrap {
      width: 1170px;
      margin: 0 auto;
      overflow: auto;
    }
    
    .your_logo {
      float: left;
      width: 189px;
      height:23px;
      margin-top: 40px;
      background: url("logo.png") no-repeat;
    }
    nav {
      overflow: auto;
    }
    
    .main_menu{
      float: right;
      width: 630px;
    }
    
    .main_menu li{
      display: inline-block;
      margin-top: 30px;
      font-size: 13px;
      margin-bottom: 42px;
    }
    
    .main_menu a{
      text-decoration: none;
      display: block;
      font-family: Raleway, Arial, sans-serif;
      color: #cbccd3;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: right;
      padding-top: 15px;
      padding-left: 53px;
    }
    
    .main_menu a:hover{
      color: #54add7;
    }
    
    .line{
       border: none; 
       background-color: #4f5268;
       height: 1px;
       width: 100%;
    }    
    
    .banner {
      margin: 145px auto 0;
      font-size: 65px;
      font-family: OpenSans, Arial, sans-serif;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.092;
      text-align: center;
      letter-spacing: -1px;
      word-spacing: -0.5px;
      max-width: 900px;
    }
    
    .comment {
      font-size: 22px;
      font-family:  Raleway, Arial, sans-serif;
      color:  #ffffff;
      line-height: 1.5;
      text-align: center;
      margin: 23px auto 0;
      max-width: 920px;
    }
    
    .btn {
      display: block;
      width: 200px;
      height: 45px;
      background: #e84545; 
      font-family:  Raleway, Arial, sans-serif;
      font-size: 13px;
      font-weight: bold;
      color: #ffffff;
      margin: 74px auto 155px; 
      border: none;
      border-radius: 2px;
      text-transform: uppercase;
    }
    
    .btn:hover {
      background: #4f5268; 
    }
    
    .features{
      overflow: auto;
      padding-top: 76px;
      padding-bottom: 49px;
    }
    
    .feature_describe{
      width: 33.333%;
      float: left;
    }
    
   
    .features span{
      display: block;
      width: 81px;
      height: 60px; 
      margin: 0 auto;
      background: url("features_sprite.png") no-repeat;
    }
    
    .features span.sprite_easily {
      background-position: -173px -8px;
      
    }
    
    .features span.sprite_responsive {
      background-position: -413px -10px;
      
    }
    
    .features span.sprite_modern {
      background-position: -245px -9px;
      
    }
    
    .features span.sprite_clean {
      background-position: -1px -11px;
      
     }
     
    .features span.sprite_ready {
      background-position: -326px -10px;
     
    }
    
    .features span.sprite_download {
      background-position: -86px -10px;
      
    }
    
    .feature_header {
      margin-top: 34px;
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      color: #2d3033;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
    }
    
    .feature_body {
      margin: 18px auto 68px;
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      color: #80858b;
      line-height: 1.5;
      text-align: center;
      width: 297px;
      height: 65px;
      overflow: hidden;
    }
    
    .works{
      width:100%;
      overflow: auto;
    }
    
    .work_sample {
      float: left;
      position: relative;
      width: 25%;
      height: 350px; 
      overflow: hidden;
      outline: 1px solid #ffffff;
    }
    
    .cover-bg,.cover-title {
     display: none;
     position:absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
    }
     
    .work_sample:hover .cover-bg,
    .work_sample:hover .cover-title{
      display: block;
       
    }
    .cover-bg {
      background: #e14a46;
		  opacity: .6;
    }

    .cover-title {
      color: #ffffff;
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin: 155px auto 0;
      max-width: 140px;
    }

    .cover-title span{
      color: #ffffff;
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      text-align: center;
      font-weight: normal;
      text-transform: none;
      line-height: 1.2;
      margin-top: 170px;
    }
    
    .team{
      width: 100%; 
      overflow: hidden;
      padding: 101px 0 130px;
    }
    
    .team-member {
      width: 25%;
      float: left;
    }
    
    .team-member-h3{
      margin-top: 24px;
      font-size: 22px;
      font-family: Raleway, Arial, sans-serif;
      font-weight: normal;
      color: #2d3033;
      line-height: 1.2;
    }
    
    .team-member-h4{
      margin-top: 9px;
      font-size: 13px;
      font-family: Raleway, Arial, sans-serif;
      color: #e84545;
      text-transform: uppercase;
      line-height: 1.2;
    }
    
    .team-member-p {
      margin: 23px 0 25px;
      font-size: 14px;
      font-family:Raleway, Arial, sans-serif;
      color: #6c7279;
      line-height: 1.5;
      width: 263px;
    }
    
    .social_sprite_grey a .social_sprite_grey a:hover {
       cursor: pointer;
       color: #1E90FF;
       text-decoration: none;
       font-size: 100%;
     }
     
    .social_sprite_grey span{
      display: inline-block;
      height: 38px; 
      width: 39px;
      margin-right: 2px;
      border: solid 1px #c6cacc;
      border-radius: 2px;
      background: url("social_sprite_grey.png") no-repeat;
    }
    
    .social_sprite_grey span.sprite_fb {
      background-position: 3px -2px;
    }
    
    .social_sprite_grey span.sprite_vk {
      background-position: -67px 2px;
    }
    
    .social_sprite_grey span.sprite_in {
      background-position: -28px 0;
    }
    
    .footer{
      width: 100%;
      background: #3a3e64;
      overflow: hidden;
      padding-top: 71px;
      padding-bottom: 81px;      
    }
    
    .footer_part {
      width: 33.333%;
      float: left;
      
    }
    
    .footer_h3 {
      color: #ffffff;
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 18px;
    }
    
    .footer_p {
      color: rgba(255, 255, 255, 0.502);
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      text-align: center;
      line-height: 1.607;
    }
    
    .social_sprite {
      margin-left: 131px;
    }
    
    .social_sprite a .social_sprite a:hover {
       cursor: pointer;
       color: #1E90FF;
       text-decoration: none;
       font-size: 100%;
     }
     
    .social_sprite span{
      display: inline-block;
      height: 38px; 
      width: 39px;
      margin-right: 2px;
      border: solid 1px #ffffff;
      border-radius: 2px;
      background: url("social_sprite.png") no-repeat;
    }
    
    .social_sprite span.sprite_fb {
      background-position: 3px -2px;
    }
    
    .social_sprite span.sprite_vk {
      background-position: -67px 2px;
    }
    
    .social_sprite span.sprite_in {
      background-position: -28px 0;
    }
    
    .copyright {
      width: 100%;
      height: 90px;
      background: #313454;
    }
    
    .copyright_p {
      color: rgba(255, 255, 255, 0.502);
      font-size: 14px;
      font-family: Raleway, Arial, sans-serif;
      text-align: center;
      padding-top: 25px; 
      line-height: 1.607;
    }
    
    .copyright_p span {
      color: #ffffff;
    }
    
  section{
		display: block;
	}

	a{
		text-decoration: none;
	}

	.section {
		padding: 100px 0;
	}

	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.container:before{
		display: table;
		content: " ";
	}

	.container:after{
		display: table;
		content: " ";
		clear:both;
	}

	.text-center{
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}

	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}

    
    
    
    